# AWS Configuration
aws_region = "eu-west-2"

# Project Information
project_name = "aws-capstone"
environment  = "dev"
owner         = "shuayb"

# Networking
vpc_cidr = "10.0.0.0/16"

bastion_allowed_cidr = "YOUR_PUBLIC_IP/32"
